@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "main.css";

.input-main-add{
    width:auto;
    height:auto;
    padding: 10px;
}

.mandatoryInput{
    width:300px;
    border: 1px solid;
    border-radius:5px;
    border-color:#DAD2D0;
    outline: none;
    height:30px;
}
.text-holder{
    display:center;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:auto;
}
.notif{
    display:inline-block;
}

@media screen and (max-width:1200px) {
    .inputs{
        width:40%;
    }
}
@media screen and (max-width:600px) {
    .inputs{
        width:90%;
    }
}