@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "main.css";

/* --- */
.input-main{
    /*display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    flex-direction: row;
    flex-flow:wrap;
    justify-content:space-between;
    display: flex;
    */
    margin:0 auto;
}


.inputs{
    display:inline-block;
    margin-top:15px;
    margin-left:45px;
    border: 2px solid;
    border-color:#DAD2D0;
    border-radius:5px;
    width:450px;
    height:auto;
}

.delete-checkbox{
    margin-top: 20px;
    margin-left: 20px;
}


@media screen and (max-width:1200px) {
    .inputs{
        width:50%;
    }
}
@media screen and (max-width:600px) {
    .inputs{
        width:90%;
    }
}