H1{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
}
p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding-bottom: 10px;
}
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.main{
    width:80%;
    height:100%;
}

.main-container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
}
.header{
    width:auto;
    height:10%;
    border-bottom: 2px solid;
    border-color:#DAD2D0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-holder{
    height:auto;
    width:auto;
    display:flex;
    flex-flow:wrap;
}
.accept-btn{
    background-color: #DAD2D0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.accept-btn:hover{
    background-color: #BBB9B9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* Decline btn */
.decline-btn{
    background-color: #FF5533; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.decline-btn:hover{
    background-color: #E74B2C; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}